.menubar
  margin: 0 auto
  width: 80%
  max-width: 1200px
  padding: 30px 20px
  border-bottom: solid 1px rgba(#444, 0.16)


.mainmenu
  margin: 0

  ul
    margin: 0
    padding: 0

  +e('item')
    list-style: none
    display: inline-block

    a
      color: $font-color-light
      text-decoration: none
      padding: 10px
